.reveal section img.borderless {
    background:none;
    border:none;
    box-shadow:none;
}

.reveal section img.icon {
    background:none;
    border:none;
    box-shadow:none;
    height: 100px;
}

.reveal section div.column {
    display: inline-block;
    vertical-align:top;
    margin-right: 50px;
}

.reveal section h1 {
   -webkit-text-stroke: 2px black;
   color: white;
   text-shadow:
       6px 6px 0 #000,
     -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000;
}

.reveal section p small {
   background-color: white;
   padding: 0px 5px;
}
